<ion-nav-view name="account">

  <ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
      <a class="button icon ion-home button-icon" ng-href="#/home" title="Home"></a>
      <a class="button icon ion-chatbox button-icon" ng-href="#/chat" title="Chat"></a>
    </div>
    <h1 class="title">Account</h1>
    <div class="buttons">
      <a class="button icon ion-log-in button-icon" ng-href="#/login" ng-hide-auth title="Login"></a>
      <a class="button icon ion-person button-icon" ng-href="#/account" ng-show-auth title="Account"></a>
      <a class="button icon ion-log-out button-icon" ng-click="logout()" ng-show-auth title="Log Out"></a>
    </div>
  </ion-header-bar>

  <!--  <ion-nav-bar class="bar-stable" ng-cloak>

      <ion-nav-buttons side="left">
        <a class="button" ng-href="#/home">Home</a>
        <a class="button" ng-href="#/chat">Chat</a>
        <a class="button" ng-href="#/login" ng-hide-auth>Login</a>
        <a class="button" ng-href="#/account" ng-show-auth>Account</a>
        <a class="button" ng-click="logout()" ng-show-auth>Log Out</a>
      </ion-nav-buttons>
    </ion-nav-bar>-->

  <ion-view>
    <ion-content class="has-header padding has-footer">

      <form>

        <div class="list">
          <div class="item item-divider">Profile</div>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Name:</span>
            <input type="text" name="name" ng-model="profile.name" placeholder="Name" />
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Email:</span>
            <p>{{profile.email}}</p>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Last Login Date:</span>
            <p>{{profile.lastLogin | date: 'medium'}}</p>
          </label>
        </div>
        <button class="button button-block icon-left ion-log-out" ng-click="logout()">Log Out</button>
      </form>

      <form>

        <div class="item item-divider">Change Password</div>
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Old Password:</span>
            <input type="password" ng-keypress="clear()" ng-model="oldpass" placeholder="Old Password" />
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">New Password:</span>
            <input type="password" ng-keypress="clear()" ng-model="newpass"  placeholder="New Password" />
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Confirm New Password:</span>
            <input type="password" ng-keypress="clear()" ng-model="confirm" placeholder="Confirm"/>
          </label>

          <button class="button button-block icon-left ion-edit" ng-click="changePassword(oldpass, newpass, confirm)">Change password</button>

          <p class="error" ng-show="err">{{err}}</p>
          <p class="good" ng-show="msg">{{msg}}</p>
        </div>

      </form>

      <form>

        <div class="item item-divider">Change Email</div>
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">New Email:</span>
            <input type="text" ng-keypress="clear()" ng-model="newEmail" placeholder="New Email"/>
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Password:</span>
            <input type="password" ng-keypress="clear()" ng-model="pass" placeholder="Password"/>
          </label>

          <button class="button button-block icon-left ion-edit" ng-click="changeEmail(pass, newEmail)">Update Email</button>

          <p class="error" ng-show="emailerr">{{emailerr}}</p>
          <p class="good" ng-show="emailmsg">{{emailmsg}}</p>
        </div>

      </form>

    </ion-content>
  </ion-view>
</ion-nav-view>