<ion-nav-view name="chat">

  <ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
      <a class="button icon ion-home button-icon" ng-href="#/home" title="Home"></a>
      <a class="button icon ion-chatbox button-icon" ng-href="#/chat" title="Chat"></a>
    </div>
    <h1 class="title">Chat</h1>
    <div class="buttons">
      <a class="button icon ion-log-in button-icon" ng-href="#/login" ng-hide-auth title="Login"></a>
      <a class="button icon ion-person button-icon" ng-href="#/account" ng-show-auth title="Account"></a>
    </div>
  </ion-header-bar>

  <!--  <ion-nav-bar class="bar-stable" ng-cloak>

      <ion-nav-buttons side="left">
        <ion-nav-buttons side="left">
          <a class="button" ng-href="#/home">Home</a>
          <a class="button" ng-href="#/chat">Chat</a>
          <a class="button" ng-href="#/login" ng-hide-auth>Login</a>
          <a class="button" ng-href="#/account" ng-show-auth>Account</a>
        </ion-nav-buttons>
      </ion-nav-buttons>
    </ion-nav-bar>-->

  <ion-view>
    <ion-content class="has-header padding has-footer">

      <form name="addMessageForm" ng-submit="addMessage(newMessage); newMessage = null;">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Message...</span>
            <input class="item-input" type="text" ng-model="newMessage" placeholder="New message...">
          </label>
        </div>
        <button class="button button-block" type="submit">Send</button>
      </form>

      <hr />

      <h3 ng-show="messages.length">Message List</h3>
      
      <ul id="messages" ng-show="messages.length">
        <li ng-repeat="message in messages| reverse">{{message.text}}
          <span class="small-gray">{{message.created| date:'medium'}}</span>
        </li>
      </ul>

    </ion-content>
  </ion-view>
</ion-nav-view>