<ion-nav-view name="home">

  <ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
      <a class="button icon ion-home button-icon" ng-href="#/home" title="Home"></a>
      <a class="button icon ion-chatbox button-icon" ng-href="#/chat" title="Chat"></a>
    </div>
    <h1 class="title">Home</h1>
    <div class="buttons">
      <a class="button icon ion-log-in button-icon" ng-href="#/login" ng-hide-auth title="Login"></a>
      <a class="button icon ion-person button-icon" ng-href="#/account" ng-show-auth title="Account"></a>
    </div>

  </ion-header-bar>

  <!--    <ion-nav-bar class="bar-stable" ng-cloak>

        <ion-nav-buttons side="left">
          <ion-nav-buttons side="left">
            <a class="button" ng-href="#/home">Home</a>
            <a class="button" ng-href="#/chat">Chat</a>
            <a class="button" ng-href="#/login" ng-hide-auth>Login</a>
            <a class="button" ng-href="#/account" ng-show-auth>Account</a>
          </ion-nav-buttons>
        </ion-nav-buttons>
      </ion-nav-bar>-->

  <ion-view>
    <ion-content class="has-header padding has-footer">
      <p class="status good" ng-show-auth>Hello! You are logged in with id {{auth.uid}}</p>
      <p class="status" ng-hide-auth>Welcome. You are not <a href="#/login">logged in</a></p>

      <form>

        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">syncedValue</span>
            <input ng-model="syncedValue.$value" type="text" ng-change="syncedValue.$save()" />
          </label>
          <label class="item item-input item-stacked-label">
            <!--            <span class="input-label">syncedValue</span>-->
            <pre>{{syncedValue.$value}}</pre>
          </label>
        </div>

      </form>

      <p>Open <a ng-href="{{FBURL}}/syncedValue" target="_blank">Forge</a> or a <a target="_blank" href="#/">new window</a> to see this input update in real time.</p>
    </ion-content>

  </ion-view>

</ion-nav-view>