<ion-nav-view name="login">

  <ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
      <a class="button icon ion-home button-icon" ng-href="#/home" title="Home"></a>
      <a class="button icon ion-chatbox button-icon" ng-href="#/chat" title="Chat"></a>
    </div>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <a class="button icon ion-log-in button-icon" ng-href="#/login" ng-hide-auth title="Login"></a>
      <a class="button icon ion-person button-icon" ng-href="#/account" ng-show-auth title="Account"></a>
    </div>
  </ion-header-bar>

  <!--  <ion-nav-bar class="bar-stable" ng-cloak>

      <ion-nav-buttons side="left">
        <ion-nav-buttons side="left">
          <a class="button" ng-href="#/home">Home</a>
          <a class="button" ng-href="#/chat">Chat</a>
          <a class="button" ng-href="#/login" ng-hide-auth>Login</a>
          <a class="button" ng-href="#/account" ng-show-auth>Account</a>
        </ion-nav-buttons>
      </ion-nav-buttons>

    </ion-nav-bar>-->

  <ion-view>

    <ion-content class="has-header padding has-footer">
      <form name="loginRegisterForm">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="text" ng-model="email" />
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Password</span>
            <input type="password" ng-model="pass" />
          </label>
          <label class="item item-input item-stacked-label" ng-cloak ng-show="createMode">
            <span class="input-label">Confirm pass</span>
            <input type="password" ng-model="confirm" />
          </label>
        </div>
        <button class="button" ng-click="login(email, pass)" ng-hide="createMode">Log In</button>
        <button class="button" ng-click="createModeToggle()" ng-hide="createMode">Register</button>
        <button class="button" ng-show="createMode" ng-click="createAccount(email, pass, confirm, createMode)">Create Account</button>
        <button class="button" type="reset" ng-show="createMode" ng-click="createModeToggle()">Cancel</button>

        <p ng-show="err" class="error">{{err}}</p>
      </form>
    </ion-content>
  </ion-view>
</ion-nav-view>