<!DOCTYPE html>
<html ng-app="starter">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>ionic-contrib-state-routing</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <!--<script src="lib/ionic/js/ionic.bundle.js"></script>-->
    <script src="lib/ionic/js/ionic.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/ionic/js/ionic-angular.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.js"></script>
    <!--<script src="lib/angular-resource/angular-resource.js"></script>-->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- firebase js -->
    <script src="lib/firebase/firebase.js"></script>
    <script src="lib/angularfire/dist/angularfire.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/config.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/decorators.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/services.js"></script>
    <script src="js/firebase.utils.js"></script>
    <script src="js/simpleLogin.js"></script>
    <script src="js/changeEmail.js"></script>

  </head>
  <body ng-cloak animation="fade-in">

  <ion-nav-view></ion-nav-view>

  <div class="bar bar-footer bar-positive">
    <div class="title">{{ 'Version %VERSION%' | interpolate }}</div>
  </div>
</body>
</html>
